{:server-xml-config {:shutdown-port "8005"
                     :start-ssl false
                     :executor-daemon "true"
                     :executor-min-spare-threads "4"
                     :executor-max-threads "151"
                     :service-name "Catalina"
                     :connector-port "8009"
                     :connector-protocol "AJP/1.3"
                     :connection-timeout "61000"
                     :uri-encoding "UTF-8"}}
